@import "../../node_modules/material-ui-sass/material-ui";
@import "../../node_modules/material-ui-sass/material-ui/_html";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);




// My Styles
.container {
  display: flex;
}
.control-panel {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100vh;
  background-color: dimgray;
  text-align: center;
  padding: 3em;
}

.sketch-canvas {
  width: 75vw;
  display: flex;
  flex-direction: column;
}

#chart {
  margin-top: 7.5vh;
}

/* Material UI Fixes */

// bandaid for broken MUI dropdown arrow
.mui-drop-down-menu {
  margin-bottom: 1.5em;
}
.mui-checkbox {
  display: inline-block;
}
.checkbox-label {
  padding: 10px;
}