@import "../../node_modules/material-ui-sass/material-ui";
@import "../../node_modules/material-ui-sass/material-ui/_html";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

// generator styles styles
.example-page {
  margin: auto;
  padding: 50px;
  width: 50vw;
  height: 100vh;
  background: red;
  text-align: center;
}

#task-list {
  width: 25%;
  margin: 20px auto;
  text-align: left;

  label {
    display: block;
  }
}

.mui-checkbox {
  display: inline-block;
}

.checkbox-label {
  padding: 10px;
}

// My Styles
.container {
  display: flex;
}
.control-panel {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100vh;
  background-color: dimgray;
  text-align: center;
  padding: 3em;
}

.sketch-canvas {
  width: 75vw;
  display: flex;
  flex-direction: column;
}

#chart {
  
}
.hidden {
  display: none;
}